<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- These link rel needs to be in correct order to make the fonts works-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
    <!-- in link, we can use style.css but its not always guranteed so we use url_for to get the path of the file-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body class = "w3-container">
    <!-- Shared Headed Bar -->
     <header class="w3-container w3-padding-32">
        <h1> Cool Bikes </h1>
        </header>

    <!-- Shared Navbar (navigation bar - home button) -->
   <!-- <nav class="w3-bar w3-blye-grey">
        <a href="/" class="w3-bar-item w3-button w3-button">Home</a>
        </nav> -->

        <nav class="w3-bar w3-blue-grey">
            <a href="/" class="w3-bar-item w3-button">Home</a>
            </nav>
     {% block body %} 
     {% endblock %}
    
</body>
</html>